body {
  font-family: "Vazirmatn", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* ------------------------------HEADER------------------------------ */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  margin-top: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 80px;
  height: auto;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #1B1F38;
  font-weight: 500;
}

.menu a:hover {
  color: #FBBE4B;
}

.auth {
  display: flex;
  gap: 15px;
}

.auth a {
  text-decoration: none;
  color: #FBBE4B;
  font-weight: 500;
}


.wave-section {
  position: relative;
  height: 420px;
  margin-top: -20px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wave-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.wave-lines svg {
  width: 100%;
  height: 100%;
}

.wave-lines svg path {
  fill: #FBBE4B;
}


.shape {
  position: absolute;
  opacity: 0.75;
  z-index: 1;
  filter: blur(1px);
  transition: transform 0.3s ease;
}

.shape:hover {
  transform: scale(1.1);
}

.shape.purple {
  background: #731963;
}

.shape.pink {
  background: #DB93B0;
}

.shape1 {
  width: 100px;
  height: 100px;
  clip-path: circle(14.1% at 49% 53%);
  top: 160px;
  right: 18%;
}

.shape2 {
  width: 90px;
  height: 90px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 200px;
  left: 25%;
}

.shape3 {
  width: 70px;
  height: 70px;
  clip-path: circle(32.9% at 50% 50%);
  top: 280px;
  right: 32%;
}

.shape4 {
  width: 110px;
  height: 110px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 130px;
  left: 60%;
}

.shape5 {
  width: 80px;
  height: 80px;
  clip-path: circle(32.9% at 50% 50%);
  top: 240px;
  left: 15%;
}

.shape6 {
  width: 90px;
  height: 90px;
  clip-path: circle(14.1% at 49% 53%);
  top: 200px;
  right: 45%;
}

.shape7 {
  width: 70px;
  height: 70px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 100px;
  left: 10%;
}

.shape8 {
  width: 100px;
  height: 100px;
  clip-path: circle(14.1% at 49% 53%);
  top: 260px;
  right: 10%;
}


.wave-content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.wave-content h2 {
  font-size: 28px;
  color: #731963;
  margin: 0;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 50px;
  width: 100%;
  max-width: 500px;
  padding: 8px 15px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #1B1F38;
}

.search-box button {
  background: #FBBE4B;
  color: #1B1F38;
  border: none;
  border-radius: 30px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #e0a731;
}

/* ---------- Info Section ---------- */
.info-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.info-box {
  background: #6A5675;
  color: #FFFFFF;
  text-align: center;
  padding: 30px 22px;
  border-radius: 18px;
  box-shadow: 0 4px 14px rgba(219, 147, 176, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 280px;
  transition: all 0.25s ease;
  position: relative;
  border: 2px solid transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

.info-box:hover {
  box-shadow: 0 8px 22px rgba(251, 190, 75, 0.25);
  border-color: #FBBE4B;
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  color: #FBBE4B;
}

.icon img {
  width: 100%;
  height: 100%;
}

h3 {
  margin: 8px 0 6px;
  font-size: 18px;
  font-weight: 600;
  color: #FBBE4B;
}

.desc {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.6;
  opacity: 0.85;
}

/* ---------- Slider Section ---------- */
.slider-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.slider-container {
  flex: 2;
  position: relative;
  height: 340px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  border: 2px solid #731963;
}

.slider {
  display: flex;
  transition: transform 0.6s ease;
  width: 100%;
  height: 100%;
}

.slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.slider-text {
  flex: 1;
}

.slider-text h2 {
  font-size: 24px;
  color: #FBBE4B;
  margin-bottom: 10px;
}

.slider-text p {
  color: #DB93B0;
  line-height: 1.7;
  font-size: 18px;
}


/* ---------- Feature Section ---------- */
.feature-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  background: #6A5675;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 14px rgba(219, 147, 176, 0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid transparent;
  -webkit-transition: transform 0.2s ease, box-shadow 0.2s ease;
  -moz-transition: transform 0.2s ease, box-shadow 0.2s ease;
  -ms-transition: transform 0.2s ease, box-shadow 0.2s ease;
  -o-transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.feature-box:hover {
  box-shadow: 0 6px 20px rgba(251, 190, 75, 0.25);
  border-color: #FBBE4B;
}

.feature-text {
  flex: 3;
}

.feature-text h3 {
  margin: 0 0 6px;
  font-size: 18px;
  color: #FBBE4B;
}

.feature-text p {
  margin: 0;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 1.6;
}

.feature-icon {
  flex: 1;

  text-align: center;
  color: #DB93B0;
}

.feature-icon img {
  width: 100%;
  height: 100%;
}

/* ---------- Events Section ---------- */
.events-section {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, .5);
}

.events-section:hover .loop-track {
  animation-play-state: paused;
}

.events-section h2 {
  font-size: 24px;
  color: #FBBE4B;
  margin-bottom: 20px;
}

:root {
  --card-w: 250px;
  --gap: 20px;
  --count: 5;
  --step-time: 4s;
}

.events-carousel {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, .5);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.loop-track {
  display: flex;
  gap: var(--gap);
  animation: scroll 25s linear infinite;
  -webkit-animation: scroll 25s linear infinite;
  direction: ltr;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.card {
  flex: 0 0 var(--card-w);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

.card h4 {
  margin: 10px 0 5px;
}

.card p {
  font-size: 13px;
  margin-bottom: 10px;
}

@keyframes slide {

  0%,
  12% {
    transform: translateX(0);
  }

  20%,
  32% {
    transform: translateX(calc(-1 * (var(--card-w) + var(--gap))));
  }

  40%,
  52% {
    transform: translateX(calc(-2 * (var(--card-w) + var(--gap))));
  }

  60%,
  72% {
    transform: translateX(calc(-3 * (var(--card-w) + var(--gap))));
  }

  80%,
  92% {
    transform: translateX(calc(-4 * (var(--card-w) + var(--gap))));
  }

  100% {
    transform: translateX(calc(-5 * (var(--card-w) + var(--gap))));
  }
}

.loop-container:hover .loop-track {
  animation-play-state: paused;
}

@media (max-width:700px) {
  :root {
    --card-w: 180px;
  }
}

/* ---------- Teachers Section ---------- */
.teachers-section {
  width: 100%;
  text-align: center;
}

.teachers-section h2 {
  font-size: 24px;
  color: #FBBE4B;
  margin-bottom: 30px;
}

.teachers-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.teacher img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #DB93B0;
  transition: transform 0.3s ease, border-color 0.3s ease;
  -webkit-transition: transform 0.3s ease, border-color 0.3s ease;
  -moz-transition: transform 0.3s ease, border-color 0.3s ease;
  -ms-transition: transform 0.3s ease, border-color 0.3s ease;
  -o-transition: transform 0.3s ease, border-color 0.3s ease;
}

.teacher img:hover {
  transform: scale(1.1);
  border-color: #FBBE4B;
}

.teacher p {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
}



/* ------------------------------FOOTER------------------------------ */
.footer {
  width: 100%;
  background: #6A5675;
  color: #FFFFFF;
  position: relative;
  padding-top: 0;
}

.cont-footer {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 20px 0 20px;
}

.brand,
.links,
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h3 {
  margin: 0;
  font-size: 18px;
  color: #FBBE4B;
}

p.muted {
  color: #DB93B0;
  margin: 0;
  line-height: 1.6;
}

a.link {
  color: #FFFFFF;
  text-decoration: none;
}

a.link:hover {
  color: #FBBE4B;
}

.newsletter {
  background: rgba(255, 255, 255, 0.03);
  padding: 12px;
  border-radius: 12px;
}

.newsletter form {
  display: flex;
  gap: 8px;
}

.newsletter input[type=email] {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: transparent;
  color: inherit;
}

.btn {
  background: #FBBE4B;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  color: #1B1F38;
  cursor: pointer;
  font-weight: 600;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 12px 20px;
  margin-top: 18px;
  color: #DB93B0;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 8px;
}

.meta div {
  display: flex;
  gap: 14px;
  align-items: center;
  flex-wrap: wrap;
}

.quick {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-svg {
  display: block;
  width: 100%;
  height: 70px;
}


/* ---------- Responsive ---------- */
@media (max-width: 900px) {
  .slider-section {
    flex-direction: column;
    text-align: center;
  }

  .slider-container,
  .slider-text {
    width: 100%;
  }

  .feature-section {
    justify-content: center;
  }

  .info-section {
    justify-content: center;
  }
}